/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.hebergements-and-populaires1 {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background:var(--main-bg-color) ;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 5px;
}
.hebergements-and-populaires1 section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 5px;
}
.renverse{
    display: flex;
    flex-direction: row;
}
/****** Hebergements ***********/
.hebergements {
    width: auto;
}

.triple{
    width: 28%;
    margin: 10px 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.populaires-kards{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top: 33px;
}
.populaires-kards img {
    width: 100%;
    height: 136px;
    border-radius: 20px 20px 0  0 ;
    object-fit: cover;
}
.kard-content {
    width: 90%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.tripla{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.activite{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quatre{
    width: 23%;
    margin: 10px 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.quatre img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0  0 ;
    object-fit: cover;
}

.kard {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.kard-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 10px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à mon code */

header{
    height: 80px;
    display :flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 19px;
    display :flex;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
}

header .right{
    height: 100%;
    display :flex;
    flex-direction: row;
    align-items: center;
}

header .right div{

    height: 100%;
    display: flex;
    margin: 20px;
}
header .right div:hover{
    border-top: 5px solid #0065FC;
}

header .right .lleft{
    display: flex;
    align-items: center;

}

header .right .rright{
    height: 100%;
    display :flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}


header .right .rright a{
    text-decoration: none;
    color: black;


}
header .right .lleft a{
    text-decoration: none;
    color: black;

}
header .right .lleft a:hover {
    color: #0065fc;

}
header .right .rright a:hover {
    color: #0065fc;
}


.trouver{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.trouver .top{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.trouver .bot{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
}

.search form {
    height: 49px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.search form .top{
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
.search form .mid{
    padding: 0 20px;
    background: #FFFFFF;
    border: none;
    font-size: medium;
}
.search form .bot{
    padding: 0 20px;
    color: #FFFFFF;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.search form button.bbot{
    display:none;
    padding: 0 20px;
    color: #FFFFFF;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.filter .top{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-right: 15px;
}

.filter .bot{
    display: flex;
    flex-direction: row;
}

.filter .clone{
    display: flex;
    flex-direction: row;
}

.filter .clone div{
    padding: 8px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin: 0 10px;
}
.filter .clone div:hover{
background-color: #DEEBFF;
}


.fa-money-bill-wave, .fa-fire ,.fa-heart ,.fa-person ,.fa-info{
    color :#0065FC;
    margin: 0 10px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    margin: 20px;
}

.info i{
    height: 30px;
    width: 30px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #F2F2F2;
    margin-top: 25px;
    padding-bottom: 20px;
}

footer .left , footer .mid , footer .right {
    display: flex;
    flex-direction: column;
}

footer p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

footer a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        width: 100%;
        max-width: 1024px;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .filter{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .filter .top{
        margin-bottom: 10px;
        padding-left: 15px;
    }

    .quatre img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0  0 ;
        object-fit: cover;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements-and-populaires1 {
        flex-direction: column;
    }
    .renverse{
        display: flex;
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards img {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        width: 100%;
        max-width: 767.98px;
        padding: 0;
    }

    header {
        height: 120px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    header .left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .left , header .right {
        height: 50%;

    }

    header .right{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    header .right div:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }


    header .right .lleft .rright{
        border-top: none;

    }

    header .right .rright ,header .right .lleft {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .search form{
        margin-left: 20px;
    }
    .search form .mid{
        font-size: larger ;
    }
     .search form .bot{
        display: none;
        padding: 0 10px;
        color: #FFFFFF;
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
    }

    .search form button.bbot{
        display: block;
        padding: 0 10px;
        color: #FFFFFF;
        background: #0065FC;
        border: 10px solid #0065FC;
        border-radius: 15px 15px 15px 15px;
    }
    .hebergements section {
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
        margin: 5px;
    }

    .filter{
        display: flex;
        flex-direction: column;
    }

    .filter .top{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
        margin-right: 0;
    }

    .filter .bot{
        display: flex;
        flex-direction: column;
    }

    .filter .clone{
        display: flex;
        flex-direction: row;
    }

    .filter .clone div{
        display: flex;
        flex-direction: row;
        padding: 15px;
        margin: 10px ;
        border: 2px solid rgba(0,0,0,0.1);
        border-radius: 30px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
    }


.hebergements-and-populaires section{
    background: none;
    margin-top: 10px;
}
.hebergements-and-populaires1 section {
    background-color: var(--main-bg-color);
    border-radius:0 ;
    padding: 30px;
    margin: 0px;
}
.renverse{
    display: flex;
    flex-direction: column-reverse;
}
    .populaires-cards .card {
        width: 100%;
    }
    .populaires-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .populaires-cards img {
        width: 40%;
        height: 150px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }

    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .card {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    .card img {
        object-fit: cover;
    }

    .card-title {
        font-size: 16px;
    }

    .triple{
        width: 100%;
        margin: 10px 0;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .populaires-kards{
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
        margin-top: 33px;
    }

    .populaires-kards img {
        width: 100%;
        height: 120px;
        border-radius: 20px 20px 0  0 ;
        object-fit: cover;
    }
    .kard-content {
        width: 90%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .activite{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: 20px
;
    }
    .section-title {
        margin: 0;
        font-size: 22px;
        margin-left: 10px;
    }

    .quatre{
        width: 100%;
        margin: 10px 0;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }

    .quatre img {
        width: 100%;
        height: 140px;
        border-radius: 20px 20px 0  0 ;
        object-fit: cover;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        background: #F2F2F2;
        margin-top: 25px;
        padding-bottom: 20px;
        padding-left: 10px;
    }

}